<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx ="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="{399705B4-01DB-4843-A492-420E75859BAE}" Name="PdfMiniTools" Language="1033" Version="1.2.0.0"
           Manufacturer="Black Telescope Workshop" UpgradeCode="409ff0d1-1c3a-4f8d-8a5a-350705977809">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"
      Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AdobeIcon.ico" SourceFile="..\common\acroread.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AdobeIcon.ico" />

    <!-- .Net 4.6.2 Prerequisite -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    <!-- OS version prerequisite -->
    <Condition Message="64-bit Windows 7, Server 2008 SP2, or later are required.">
      <![CDATA[Installed OR (VersionNT >= 601 AND VersionNT64)]]>
    </Condition>

    <!-- Use the UI that allows an install directory to be chosen-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="X11 License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="TopBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="BigBanner.bmp" />
    <UIRef Id="WixUI_InstallDir" />



    <Feature Id="ProductFeature" Title="PdfMiniToolsInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="PdfMiniTools" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="CommandLine.dll" Guid="*" Win64="yes">
        <File Id="ID_8b734abf_beb3_4895_856e_cdf922dca6aa"
              Source="..\lib\CommandLine.dll" DiskId="1" Name="CommandLine.dll" KeyPath="yes">
          <netfx:NativeImage Id="CommandLine.dll" Platform="64bit" Priority="1"   />
        </File>
      </Component>
      <Component Id="itextsharp.dll" Guid="*" Win64="yes">
        <File Id="ID_534bf304_8d9d_4b10_bc83_027bd1b92e50"
              Source="..\lib\itextsharp.dll" DiskId="1" Name="itextsharp.dll" KeyPath="yes">
          <netfx:NativeImage Id="itextsharp.dll" Platform="64bit" Priority="1"   />
        </File>
      </Component>
      <Component Id="PdfMiniToolsShell.bat" Guid="*" Win64="yes">
        <File Id="PdfMiniToolsShell.bat"
              Source="..\common\PdfMiniToolsShell.bat" Name="PdfMiniToolsShell.bat" KeyPath="yes" >
          <Shortcut Id="PdfMiniToolsDesktopShortcut"
              Directory="DesktopFolder"
              Name="PdfMiniTools"
              Description="PdfMiniTools shell with path setting"
              WorkingDirectory="INSTALLFOLDER"
              IconIndex="0"
              Icon="cmd.exe"
              Advertise="yes" >
            <Icon Id="cmd.exe" SourceFile="$(env.ComSpec)"/>
          </Shortcut>
        </File>
      </Component>
      <Component Id="PdfCat.exe" Guid="*" Win64="yes">
        <File Id="$(var.PdfCat.TargetFileName)" Source="$(var.PdfCat.TargetPath)" KeyPath="yes">
          <netfx:NativeImage Id="$(var.PdfCat.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfCat.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfCat.TargetName).pdb" Source="$(var.PdfCat.TargetDir)$(var.PdfCat.TargetName).pdb" KeyPath="yes" />
      </Component>
      <Component Id="PdfEvenOddMerge.exe" Guid="*" Win64="yes">
        <File Id="$(var.PdfEvenOddMerge.TargetFileName)" Source="$(var.PdfEvenOddMerge.TargetPath)" KeyPath="yes" >
          <netfx:NativeImage Id="$(var.PdfEvenOddMerge.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfEvenOddMerge.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfEvenOddMerge.TargetName).pdb" Source="$(var.PdfEvenOddMerge.TargetDir)$(var.PdfEvenOddMerge.TargetName).pdb" KeyPath="yes" />
      </Component>
      <Component Id="PdfExtract.exe" Guid="*" Win64="yes">
        <File Id="$(var.PdfExtract.TargetFileName)" Source="$(var.PdfExtract.TargetPath)" KeyPath="yes" >
          <netfx:NativeImage Id="$(var.PdfExtract.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfExtract.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfExtract.TargetName).pdb" Source="$(var.PdfExtract.TargetDir)$(var.PdfExtract.TargetName).pdb" KeyPath="yes" />
      </Component>
      <Component Id="PdfInfo.exe" Guid="*" Win64="yes">
        <File Id="$(var.PdfInfo.TargetFileName)" Source="$(var.PdfInfo.TargetPath)" KeyPath="yes" >
          <netfx:NativeImage Id="$(var.PdfInfo.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfInfo.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfInfo.TargetName).pdb" Source="$(var.PdfInfo.TargetDir)$(var.PdfInfo.TargetName).pdb" KeyPath="yes" />
      </Component>
      <Component Id="PdfMiniToolsCore.dll" Guid="*" Win64="yes">
        <File Id="$(var.PdfMiniToolsCore.TargetFileName)" Source="$(var.PdfMiniToolsCore.TargetPath)" KeyPath="yes" >
          <netfx:NativeImage Id="$(var.PdfMiniToolsCore.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfMiniToolsCore.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfMiniToolsCore.TargetName).pdb" Source="$(var.PdfMiniToolsCore.TargetDir)$(var.PdfMiniToolsCore.TargetName).pdb" KeyPath="yes" />
      </Component>
      <Component Id="PdfSplit.exe" Guid="*" Win64="yes">
        <File Id="$(var.PdfSplit.TargetFileName)" Source="$(var.PdfSplit.TargetPath)" KeyPath="yes" >
          <netfx:NativeImage Id="$(var.PdfSplit.TargetFileName)" Platform="64bit" Priority="1" />
        </File>
      </Component>
      <Component Id="PdfSplit.pdb" Guid="*" Win64="yes">
        <File Id="$(var.PdfSplit.TargetName).pdb" Source="$(var.PdfSplit.TargetDir)$(var.PdfSplit.TargetName).pdb" KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>